body{
    background-color: rgb(185, 145, 92);
}

#navbar{
    display: flex;
    gap: 15px;
    justify-content: center;
}

#dp{  
    border-radius: 5px;
}

#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wish{
    color: white;
}

#description{
    width: 70vw;
}

@media(width<550px ){
    #dp{
        width: 45vw;
    }
}
 
@media(width>= 550px){
    #dp{
        width:20vw;
    }
}